*.log
*.json
*.png
*.lock
*.toml
*.zip
*.python-version


Logs/
Scrennshots/
YCB_Dataset/
01_project/remove_screenshot.py
main.py
01_project/test_normals.py
01_project/tttt.py
01_project/~$bo4Space_I4S.docx
01_project/~WRL1299.tmp
01_project/Robo4Space_I4S.docx
01_project/tttt.py
